@model Entities.User
<form id="formEdit" action="/User/EditProfile" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="box-body">
            
                @*<label  class="col-md-2 control-label">User</label>*@
                @*<div class="col-md-10">
                        <input id="EmployeeName" type="text" class="form-control" disabled value="@eProcurement.DAL.UserData.GetbyName(Model.EmployeeID)">
                    </div>*@
                @*<label for="EmpID" class="col-md-2 control-label">EmployeeID</label>*@
                @*<div class="col-md-10">
                        <input id="employeeID" disabled type="text" class="form-control" value="@Model.EmployeeID">
                    </div>*@
               
                <div class="form-group">
                    <label for="UserName" class="">User Name</label>
                    <input type="text" id="username" name="UserName" class="form-control" value="@Model.UserName" required>
                </div>
                <div class="form-group">
                    <label for="FirstName" class="">First Name</label>
                    <input type="text" id="firstname" name="firstname" class="form-control" value="@Model.FirstName" required>
                </div>
                <div class="form-group">
                    <label for="MiddleName" class="">Middle Name</label>
                    <input type="text" id="middlename" name="middlename" class="form-control" value="@Model.MiddleName">
                </div>
                <div class="form-group">
                    <label for="LastName" class="">Last Name</label>
                    <input type="text" id="lastname" name="lastname" class="form-control" value="@Model.LastName" required>
                </div>
                <div class="form-group">
                    <label for="NameExt" class="">Name Extension</label>
                    <input type="text" id="nameext" name="nameext" class="form-control" value="@Model.NameExt">
                </div>
                <div class="form-group">
                    <label for="Email" class="">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value="@Model.Email" required placeholder="email">
                </div>
                <div class="form-group">
                    <label for="ContactNumber" class="">Contact Number</label>
                    <input type="number" id="contactnumber" name="contactnumber" class="form-control" value="@Model.ContactNumber" required>
                </div>
                <div class="form-group">
                    <label for="password-changed" class="">Change Password?</label>
                    <input id="password-changed" value="False" class="form-group-sm text-left" type="checkbox" />
                </div>
                <div class="form-group">
                    <label id="passlbl" for="password" class="">Password</label>
                    <input type="password" id="password" name="Password" class="form-control" value="" placeholder="Password">
                </div>
                <div class="form-group">
                    <label id="cpasslbl" for="confirmpw" class="">Confirm Password</label>
                    <input id="confirmpw" type="password" class="form-control" placeholder="Confirm password">
                    <div class="alert alert-danger" id="error-display"></div>
                </div>

           
            
                <div class="col-md-9 col-md-offset-3">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="submitEdit" class="btn btn-primary">Submit</button>
                </div>
            
            <input type="hidden" class="form-control" id="User" value="@Model.UserName" />
            <input type="hidden" name="UserId" class="form-control" id="UserId" value="@Model.UserId" required />
            <input type="hidden" name="UniqueId" class="form-control" id="UniqueId" value="@Model.UniqueId" required />
            <input type="hidden" name="Region" class="form-control" id="Region" value="@Model.Region" required />
           
        </div>
    </fieldset>
</form>


